/* * {
    border: 1px dashed red;
} */

a.e-mail {
    padding: 0;
    color: #DBD5A4;
}


footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(14, 71, 29);
    color: #DBD5A4;
    align-items: center;
    border: 1px solid green;
    width: 100vw;
    margin-top: 1em;
    padding: 2%;
    font-size: 0.8rem;
    gap: 0.5rem;
}


footer > div.left {
    flex: 1;
}

footer > div.right {
    flex: 0.5;
}


div.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}

div.right > p {
    font-size: 1rem;
}

div.left {
    display: flex;
    gap: 0.6em;
align-items: center;
}

svg.social-logo-footer {
    color: #DBD5A4;
    font-size: 1.5rem;
}