
header {
    box-sizing: border-box;
    font-family: "Zalando Sans", sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;

}


div.name-container {
    margin: 1em 0.5em 0;
    display: flex;
    align-items: center;
    gap: 1em;
    text-align: center;
    font-size: 83%;
}

div.name-container > h1 {
    text-shadow: 1px 1px 1px rgb(106, 158, 28);
    
}


div.name-container > svg {
    font-size: 3.2em;
    animation: changeColor 13s ease-in-out infinite;
}

div.social-icons {
    display: flex;
    justify-content: center;
    margin-block: 1em;
    padding-block: 0.2em;
    gap: 0.1em;
    
}

div.social-icons > a {
    padding: 0;

}

svg.social-logo {
    color: #161616;
    font-size: 1.5rem;
}