*,
*::after,
*::before {
    box-sizing: border-box;
}

p,
h1 {
    margin: 0;
    padding: 0;
}


button {
    border: none;
    padding: 1em 2em;
    margin-block: 1em 0.3em;
    border-radius: 5px;
}

div.testimonial-container {
    font-family: Work-sans, sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 32px;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    max-width: 920px;
    margin: 10% auto 15%;

}

svg.testimonial-icon {
    color: rgba(255, 255, 255, 0.25);
    font-size: 3rem;
}


div.pic-container {
    padding: 1.5em 1em 0;
}

img.profile {
    width: 100%;
    border-radius: 12px;
    box-shadow: 3px 4px 12px #161616;

}

div.text-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

div.text-container>div {
    margin: 0;

}

div.text-container {
    padding: 3% 2% 3% 0;
}

p.name {
    font-size: 1rem;
    font-weight: 700;
}

div.herb-info {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}


div.badge-container {
    flex-grow: 1;
}

div.info-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

div.info-container>p {
    flex-shrink: 0;
}

div.herb-info,
div.content {
    padding-left: 0.75em;
}


/* Media Queries */

@media(min-width: 450px) {

    div.testimonial-container {
        flex-direction: row;
    }

    div.pic-container {
        display: flex;
        justify-content: center;
        padding: 1.5em 1em 1em;
        max-width: 33%;
    }

    img.profile {
        width: 100%;
        border-radius: 12px;

    }

}