img.generic-img,
img.cart-img {
    border-radius: 4px;
}

a {
    color: #161616;
}

a.badge-link {
    color: #161616;
}

a.to-btn,
p.back-to-p {
   background-color: rgba(255, 255, 255, 0.6);
   padding-inline: 1.2em;
   border-radius: 40px;
   display: inline-block;
   margin-inline: 0.25em;
   cursor: pointer;
}

a.back-to-btn:hover,
a.back-to-btn:focus {
    text-decoration: none;
}

button {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #DBD5A4;
    color:#161616;
    margin-inline: 0.1em;

}

button:hover,
button:focus {
    background-color: #161616;
    color:#DBD5A4;
}

button.buy-btn {

    padding: 1em 2em;
    margin-block: 1em 0.3em;
    border-radius: 5px;
}

header > h1 {
    text-shadow: 1px 1px 2px rgb(106, 158, 28);
}

section.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    gap: 1em;
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px grey;
}

section.home > p:nth-child(odd) {
     animation: changeColor 35s ease-in-out infinite;
}

section.home > p:nth-child(even) {
     animation: changeColor 45s ease-in-out infinite;
}

section.home > img {
    width: 30%;
    border-radius: 5px;
}

section.home h3, h4 {
    margin: 0;
}

section.home h3 {
    animation: changeColor 10s ease-in-out infinite;
}


div.promo-home {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
}



div.herb-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

div.herb-els-container {
    position: relative;
  

    border-radius: 16px;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

div.herb-els-container::before {
    content: "";
    position: absolute;
    margin: 0 auto;
    background: #029b35;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #DBD5A4, #029b35);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #DBD5A4, #029b35);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 12px;
    filter: blur(4px);

    top: -3.5%;
    left: -5%;
    bottom: -5%;
    width: 110%;
    z-index: -1;
}

div.generic-herb-el-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

div.generic-herb-el {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p.name-p {
    padding-block: 0.65em;
    font-size: 1.2rem;
    font-weight: 600;
}

p.back-to-p {
    font-size: 1rem;
}


div.cart-container {
   background-color: rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 55vw;
    padding: 1em 1.2em;
    gap: 1em;
}

div.sub-total-container {
    text-align: end;
}

div.parent-checkout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    max-width: 820px;
}

div.checkout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    margin: 1em auto;
    padding-bottom: 2em;

}

div.checkout-container > h2 {
    color:#ffffff;
}

form.checkout-form {
    display: flex;
    flex-direction: column;
    align-self: center;
}

div.summary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Media Queries for larger screens */

/* TABLET */

@media (min-width: 600px) {
    img.generic-img {
        width: 50%;
        height: 10vh;
    }
    img.cart-img {
        width: 20%;
    }
}


/* DESKTOP */

@media (min-width: 1250px){
     img.generic-img {
        width: 70%;
        height: 20vh;
    }

    img.cart-img {
        width: 20%;
    }
}

/* ANIMATIONS */

@keyframes changeColor {
    0% {
        color:#161616;
    }
    50% {
        color: #916477;
    }
    
    100% {
        color: #029b35;
    }
}

