/* * {
    outline: 1px solid red;
}
 */
html,
body {
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}

body {
    background: #DBD5A4;
    color: #161616;
}


a {
    color: #161616;
    text-decoration: none;
    padding: 15px
}


a:hover {
    font-weight: bold;
    text-decoration: none;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* UTILITY */

.bold-text {
    font-weight: 600;
}