/* * {
    outline: 1px solid red;
}
 */
html,
body {
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}

body {
    background: #029b35;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DBD5A4, #01c242);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DBD5A4, #01c242);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #161616;
   
}

header {
    box-sizing: border-box;
    font-family: "Zalando Sans", sans-serif;
    padding-bottom: 3%;

}

a {
    color: #161616;
    text-decoration: none;
    padding: 15px
}

a:hover {
    font-weight: bold;
    text-decoration: none;
}

/* 

nav > a:first-of-type {
    margin-left: -15px;
} */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}